.text-center {
  text-align: center !important;
}
.padding-tb-sm {
  padding: 5rem 0 !important;
}
.margin-b-md {
  margin-bottom: 7rem !important;

  @include respond(tab-pot) {
    margin-bottom: 5.5rem !important;
  }

  @include respond(mobile) {
    margin-bottom: 4.5rem !important;
  }
}
