.section__features {
  padding: 7rem 0 10rem 0;

  @include respond(tab-land-small) {
    padding: 6rem 0 9rem 0;
  }

  @include respond(tab-pot) {
    padding: 5rem 0 8rem 0;
  }

  @include respond(mobile) {
    padding: 3.5rem 0 6.5rem 0;
  }
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(rgba(253, 150, 68, 0.2)),
    to(rgba(250, 130, 49, 0.2))
  );
  background-image: linear-gradient(
    to top left,
    rgba(253, 150, 68, 0.2),
    rgba(250, 130, 49, 0.2)
  );
  .features {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    .feature__card {
      background-image: -webkit-gradient(
        linear,
        right bottom,
        left top,
        from(rgba(253, 150, 68, 0.1)),
        to(rgba(250, 130, 49, 0.1))
      );
      background-image: linear-gradient(
        to top left,
        rgba(253, 150, 68, 0.1),
        rgba(250, 130, 49, 0.1)
      );
      -webkit-box-shadow: 0.05rem 0.1rem 0.3rem #fd9644;
      box-shadow: 0.05rem 0.1rem 0.3rem #fd9644;
      padding: 2rem;
      border-radius: 0.5rem;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &:hover {
        -webkit-transform: translateY(-0.5rem);
        transform: translateY(-0.5rem);
        cursor: pointer;
      }
      .feature__icon {
        height: 4rem;
        width: 4rem;
        fill: #fa8231;
      }
      h3 {
        margin-top: 2rem;
      }
      .feature__text {
        font-size: 1.5rem;
        margin-top: 1rem;
      }
    }

    @include respond(tab-land-big) {
      grid-gap: 3rem;
    }

    @include respond(tab-pot) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5rem;
    }

    @include respond(mobile) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3rem;
      margin: 1rem;
    }
  }
}
